main{
	padding:20px;
	z-index:1000000;
}

main{
	height:100vh;
}

.h-100{
	height:100%;
}
.w-100{
	width:100%;
}

.fixed{
	position:fixed;
}

.material-icons{
	line-height: inherit;
	position: relative;
	bottom:-0.5rem;
	font-size: 24px;
	padding-right:0.5rem;
}
h2 .material-icons{
	font-size: 48px;
}
.collapsible-header i{
	position: static;
}
.text-shadow-1{
	text-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.octicon-mark-github{
	position:relative;
	bottom:-0.5rem;
}

#background-changer{
	position:fixed;
	opacity:0;
	background-color:#d84315;
	height:100%;
	width:100%;
	z-index:-10;
}
.fixed-center{
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	position:fixed;
}
.bottom-align{
	position: absolute; 
	bottom: 0;
}
.terminal-body{
	padding:20px;
}
.terminal-header{
	padding:2px 4px;
}
#intro-card{
	width:400px;
}

.div-center{
	margin:0 auto;
}